
html {
  height: 100%;
  background-color: #00ace6;
}

body {
  margin: 0;
  padding: 0;
}


#name-of-app {
  font-family: 'Exo', sans-serif;
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding-top: 70px;
  width: 100%;
  color: white;
}


#black-header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 200px;
  background-color:  black;
  position: relative;
  margin-bottom: 75px;
} 

#first-page-message {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Exo', sans-serif;
  margin-bottom: 100px
}


#get-started {
  border-width: 2px;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100px;
  width: 150px;
  position: relative;
  background-color: red; 
  background-image: linear-gradient(red);
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 100;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
}

#get-started:after{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

#get-started:hover {
  color: #3366ff;
  cursor: pointer;
}

#name-of-app-two {
  font-family: 'Exo', sans-serif;
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding-top: 20px;
  width: 100%;
  color: white;
}

#black-header-two {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100px;
  background-color:  black;
  position: relative;
  margin-bottom: 50px;
} 

#show-logged {
  font-family: 'Exo', sans-serif;
  margin-right: 30%;
  display: inline-block; 
  float: right;
  border: 1px solid blue;    
  background-color: yellow; 
  border-width: 2px;
  border-radius: 10px;
  width: 100px;
  font-size: 15px;
  height: 60px;
  background-color: yellow; 
  background-image: linear-gradient(yellow);
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-weight: 100;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
}

#show-logged:after{
  content: '';
  position: relative;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(rgba(255, 0.8), rgba(255,255,255,0.2));
}

#show-logged:hover {
  color: #3366ff;
  cursor: pointer;
}

#show-logged:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#add-own {
  font-family: 'Exo', sans-serif;
  display:  inline-block;
  margin-left: 30%;
  padding: 0;
  border: 1px solid blue;    
  background-color: yellow; 
  border-width: 2px;
  border-radius: 10px;
  width: 100px;
  font-size: 15px;
  height: 60px;
  background-color: yellow; 
  background-image: linear-gradient(yellow);
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-weight: 100;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
}


#add-own:after{
  content: '';
  position: relative ;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(rgba(255, 0.8), rgba(255,255,255,0.2));
}


#add-own:hover {
  color: #3366ff;
  cursor: pointer;
}

#add-own:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#search-sentence {
  font-family: 'Exo', sans-serif;
  font-size:  20px;
  display:  block;
  text-align: center;
}

form {
  text-align: center;
  position: relative;
}

#labels {
   font-family: 'Exo', sans-serif;
   text-align: center;
   font-size: 20px;
}

#js-query {
  font-size: 25px;
  height: 40px;
  width: 400px;
  border-width: 2px;
  border-color: #000000;
  border-radius: 15px;
}

.inputs {
  font-size: 15px;
  height: 25px;
  width: 200px;
  border-width: 1px;
  border-color: #000000;
  border-radius: 10px;
}

#search-button {
  font-size: 20px;
  height: 40px;
  width: 400px;
  border-color: #000000;
  padding: 0;
  border: 1px solid blue; 
  background-color: yellow; 
  border-width: 2px;
  border-radius: 10px;
  width: 100px;
  background-color: yellow; 
  background-image: linear-gradient(yellow);
  text-decoration: none;
  color: black;
  font-weight: 100;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  font-family: 'Exo', sans-serif;
}

#search-button:after{
  content: '';
  position: relative ;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(rgba(255, 0.8), rgba(255,255,255,0.2));
}

#search-button:hover {
  color: #3366ff;
  cursor: pointer;
}

#search-button:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#add-custom {
   font-family: 'Exo', sans-serif;
   text-align: center;
}

.confirm-adding-personal-item {
   font-size: 15px;
   height: 40px;
   width: 200px;
   border-color: #000000;
   padding: 0;
   border: 1px solid blue; 
   background-color: yellow; 
   border-width: 2px;
   border-radius: 10px;
   width: 100px;
   background-color: yellow; 
   background-image: linear-gradient(yellow);
   text-decoration: none;
   color: black;
   font-weight: 100;
   box-shadow: 0px 1px 4px -2px #333;
   text-shadow: 0px -1px #333; 
   font-family: 'Exo', sans-serif;
}

.confirm-adding-personal-item:after{
  content: '';
  position: relative ;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(rgba(255, 0.8), rgba(255,255,255,0.2));
}

.confirm-adding-personal-item:hover {
  color: #3366ff;
  cursor: pointer;
}

.confirm-adding-personal-item:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#totals {
  text-align: center;
  font-family: 'Exo', sans-serif;
}

#added-items-title {
  margin-right: 20%;
  font-family: 'Exo', sans-serif;
  width: 50%;
}

#added-items {
  display: inline-block;
  float: right;
  width: 50%;
  font-family: 'Exo', sans-serif;
}

#nutrition-data-title {
  font-family: 'Exo', sans-serif;
  width: 50%;
  display: inline;
}

#nutrition-data {
	width: 50%;
  font-family: 'Exo', sans-serif;
}


.add {
  display: inline; 
  float: right;
  width: 100px;
  height: 50px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}

.add:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.add:hover {
  color: blue;
  cursor: pointer;
}

.edit {
  display: inline; 
  float: right;
  width: 100px;
  height: 50px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow;
}

.edit:hover {
  color: blue;
  cursor: pointer;
}

.edit:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.delete {
	display: inline; 
  float: right;
  width: 100px;
  height: 50px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}

.delete:hover {
  color: blue;
  cursor: pointer;
}

.delete:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.confirm-changing-personal-item {
  display: inline; 
  float: right;
  width: 100px;
  height: 50px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow;
}

.confirm-changing-personal-item:hover {
   color: blue;
  cursor: pointer;
}

.confirm-changing-personal-item:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
